//fonts
%gilroy-light {
  font-family: "Gilroy-Light";
  font-weight: 300;
}
%gilroy-regular {
  font-family: "Gilroy-Regular";
  font-weight: normal;
}
%gilroy-medium {
  font-family: "Gilroy-Medium";
  font-weight: 500;
}
%gilroy-semibold {
  font-family: "Gilroy-Semibold";
  font-weight: 600;
}
%gilroy-bold {
  font-family: "Gilroy-Bold";
  font-weight: bold;
}
%gilroy-extrabold {
  font-family: "Gilroy-Extrabold";
  font-weight: 800;
}
%gilroy-black {
  font-family: "Gilroy-Black";
  font-weight: 900;
}
%helvetica-regular{
  font-family: "Helvetica-Regular";
  font-weight: 400;
}
// %ubuntu-regular {
//   font-family: "Ubuntu", sans-serif;
//   font-weight: normal;
// }
// %roboto-light {
//   font-family: "Roboto", sans-serif;
//   font-weight: 300;
// }
// colors
$btn-color: #7C275E;
